.column-axetoggle{width:20px;text-align:center;}
.column-axetoggle a{font-size:0px;font-weight:bold;text-decoration:none;outline:none;display:none}
.edit-tags-php.taxonomy-product_cat #the-list{}
#the-list.axe_toggleready .column-axetoggle a.axe_woo_has_child{font-size:20px;display:block;}
.edit-tags-php.taxonomy-product_cat #the-list > tr{display:none;}
.edit-tags-php.taxonomy-product_cat #the-list > tr.level-0, .edit-tags-php.taxonomy-product_cat #the-list > tr.axewootablerow{display:table-row;}
.edit-tags-php.taxonomy-product_cat #the-list > tr.axewootablerow{background:#fff0fc;}
.edit-tags-php.taxonomy-product_cat #the-list > tr.level-0.axe_zero_even{background:#fff!important;}
.edit-tags-php.taxonomy-product_cat #the-list > tr.level-0.axe_zero_odd{background:#f9f9f9!important;}
.edit-tags-php.taxonomy-product_cat #the-list > tr.axewootablerow.level-1{background:#fff0fc;}
.edit-tags-php.taxonomy-product_cat #the-list > tr.axewootablerow.level-1 .column-name{padding-left:calc(10px + 1%);}
.edit-tags-php.taxonomy-product_cat #the-list > tr.axewootablerow.level-2{background:#f2d0fd;}
.edit-tags-php.taxonomy-product_cat #the-list > tr.axewootablerow.level-2 .column-name{padding-left:calc(10px + 2%);}
.edit-tags-php.taxonomy-product_cat #the-list > tr.axewootablerow.level-3{background:#f0f1ff;}
.edit-tags-php.taxonomy-product_cat #the-list > tr.axewootablerow.level-3 .column-name{padding-left:calc(10px + 3%);}
.edit-tags-php.taxonomy-product_cat #the-list > tr.axewootablerow.level-4{background:#f0fff2;}
.edit-tags-php.taxonomy-product_cat #the-list > tr.axewootablerow.level-4 .column-name{padding-left:calc(10px + 4%)}
.edit-tags-php.taxonomy-product_cat #the-list > tr.axewootablerow.level-5{background:#fffdf0;}
.edit-tags-php.taxonomy-product_cat #the-list > tr.axewootablerow.level-5 .column-name{padding-left:calc(10px + 5%)}
.edit-tags-php.taxonomy-product_cat #the-list > tr.axewootablerow.level-6{background:#fff7f0;}
.edit-tags-php.taxonomy-product_cat #the-list > tr.axewootablerow.level-6 .column-name{padding-left:calc(10px + 6%)}
.edit-tags-php.taxonomy-product_cat #the-list > tr.axewootablerow.level-7{background:#fff0f0;}
.edit-tags-php.taxonomy-product_cat #the-list > tr.axewootablerow.level-7 .column-name{padding-left:calc(10px + 7%)}

ul.product_cat-checklist, ul#product_catchecklist{}
ul.product_cat-checklist li, ul#product_catchecklist li{position:relative;}
ul.product_cat-checklist li.withchildren, ul#product_catchecklist li.withchildren{}
ul.product_cat-checklist li.withchildren > label, ul#product_catchecklist li.withchildren label{margin-right:25px;}
ul.product_cat-checklist li a.axe_ul_tag_toggler,ul#product_catchecklist li a.axe_ul_tag_toggler{position:absolute;top:2px;right:0px;width:20px;height:20px;font-size:20px;line-height:20px;text-align:center;z-index:99;background:#FFF;text-decoration:none}
ul.product_cat-checklist li ul, ul#product_catchecklist li ul{display:none;margin-left:5px;}
ul.product_cat-checklist li.axe_showchildren > ul, ul#product_catchecklist li.axe_showchildren > ul{display:block}